doctype html 
html    
    head 
        title Dev's Hospital 
        block scripts 
        block style

    body
        nav#navbar 
            ul
                div#logo 
                    img(src="/static/o.png")
                    li #[a(href="/home") Home ]
                    li #[a(href="/") About ]
                    li #[a(href="/") Emergency ]
                    li #[a(href="/contact") Contact ]
                    li #[a(href="/") Email]  
        block content
            footer#footer 
                h2 Copyright © 2020-21 Dev's_Hospital.com | All rights reserved
